*{
    margin: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F1115;
    color: #eae2d1;

}
.header{
    max-height: fit-content;
    padding: 30px;
}
ul{
    display: inline;
    float: inline;
    float: right;
    text-align: center;
}
li{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
}
.body { 
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100dvh; 
    text-align: center;
}
.intro{
    padding: 15px;
    letter-spacing: 1px;
    text-align: center;
    height: fit-content;
}
.intro > img{
    display: inline;
    float: right;
    width: 25%;
}
.intro-text{
    float: left;
    width: 75%;
    display: inline;
    vertical-align: middle;
    padding-top: 50px;
    text-align: center;
    height: inherit;
    margin-top: 25px;
}
.intro>button{
    width: 150px;
    align-items: center;
    text-align: center;
}
#explore-projects, #read-journal{
    margin: 10px;
    padding: 10px;
    background-color: #F7C594;
    color: #0F1115;
    border-radius: 5px;
}
.footer{
    text-align: center;
    background-color: #0f1115;

}
fieldset{
    line-height: 25px;
    margin: 15px;
    text-align: center;
    border-color: #F7C594;
}
fieldset>button{
    background-color: #F7C594;
    color: #0F1115;
    border-radius: 5px;
    padding: 3px;
}
#copyright{
    text-align: center;
    padding: 10px;
    font-size: 12px;
    vertical-align: middle;
}