*{
    margin: 0%;
    border: 0%;
    color: #F7C594;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F1115;

}
.header{
    max-height: fit-content;
    padding: 30px;
}
ul{
    display: inline;
    float: inline;
    float: right;
    text-align: center;
}
li{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
}