*{
    margin: 0%;
    border: 0%;
    color: #F7C594;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0F1115;

}
.header{
    max-height: fit-content;
    padding: 30px;
}
ul{
    display: inline;
    float: inline;
    float: right;
    text-align: center;
}
li{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
}
.footer{
    text-align: center;
    background-color: #0F1115;
    align-self: baseline;
}
fieldset{
    line-height: 25px;
    margin: 15px;
    text-align: center;
    border-color: #F7C594;
}
fieldset>button{
    background-color: #F7C594;
    color: #0F1115;
    border-radius: 5px;
    padding: 3px;
}
#copyright{
    text-align: center;
    padding: 10px;
    font-size: 12px;
    vertical-align: middle;
}