*{
    margin: 0%;
    border: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d3236;
    color: #b6f6f0;

}
.header{
    max-height: fit-content;
    padding: 30px;
}
ul{
    display: inline;
    float: inline;
    float: right;
    text-align: center;
}
li{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
}
.body {  
    text-align: center;
    padding: 30px;
}
.intro{
    padding: 15px;
    letter-spacing: 1px;
    text-align: center;
    height: fit-content;
}
.intro > img{
    display: inline;
    float: right;
    width: 25%;
}
.intro-text{
    float: left;
    width: 75%;
    display: inline;
    vertical-align: middle;
    padding-top: 50px;
    text-align: center;
    height: inherit;
    margin-top: 25px;
}
#explore-projects, #read-journal{
    align-self: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-color: #b6f6f0;
    background-color: #2d3236;
    border-radius: 5px;
}
.about{
    display: block;
    text-align: center;
    padding: 30px;
    margin: 30px;
}
.about > h2{
    margin-bottom: 15px;
}
.footer{
    text-align: center;
    background-color: #2d3236;
    display: block;

}
fieldset{
    line-height: 25px;
    margin: 15px;
    text-align: center;
    border-color: #b6f6f0;
}
fieldset>button{
    background-color: #b6f6f0;
    color: #2d3236;
    border-radius: 5px;
    padding: 3px;
}
#copyright{
    text-align: center;
    padding: 10px;
    font-size: 12px;
    vertical-align: middle;
}